Package: com.subdiox.slices2
Name: Slices 2
Depends: firmware (>= 8), mobilesubstrate, preferenceloader, applist (>= 1.5.0), com.subdiox.sud0
Conflicts: com.expetelek.slices
Architecture: iphoneos-arm
Description: Allows you to have multiple setting and data bundles for a single application.
Maintainer: subdiox
Author: subdiox
Section: Tweaks
Version: 1.0b4
Installed-Size: 1148
